body{
    background: linear-gradient(#01012e ,#240019);
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
    
}
section{
    background: url("stars1.png");
    height: 100vh;
    
}